body {
  background-color: #fefefe;
  position: relative;
  color: #222;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body::after {
  content: "";
  background-image: url(/img/bg1_1280.jpg);
  background-size: cover;
  opacity: 0.42;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  min-height: 100vh;
}

.nav-wrapper {
  background-color: #27a;
  display: flex;
  justify-content: center;
  height: 3.333rem;

  nav.nav {
    width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

    a.nav-brand {
      display: flex;
      align-items: center;
    }

    .nav-collapse {
      display: flex;
    }

    a.nav-link {
      padding: 5px 2rem;
      text-decoration: none;
      color: #fefefe;
      height: 25px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #135;
      }
    }
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;

  main {
    display: flex;
    flex-direction: column;
    max-width: 980px;
  }
}

.img-left {
  // display: inline-block;
  float: left;
  img {
  margin: 0.67rem 1.33rem;
  width: 360px;
  box-shadow: #ccc 10px 10px 20px;
  border-radius: 15px;
  }
}

.p3 {
  padding-top: 3rem;
}